@import "tailwindcss";

:root {
  --background: #138b10;
  --foreground: #061a05;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --color-mainColor: var(--mainColor); */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #138b10;
    --foreground: #061a05;
    /* --mainColor: #138b10; */
    /* Define the border color for dark theme */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}